stowPackages/shells/zsh/.config/zsh/.zcomp*
stowPackages/shells/zsh/.config/zsh/*hist*
stowPackages/windowManagers/qtile/.config/qtile/*pycache*
stowPackages/editors/nvim/.config/nvim/nvim-pack-lock.json
